a {
    text-decoration: none;
}

.product-name {
    text-align: left;
    margin: auto;
    font-size: large;
    font-weight: 800;
}

.number-of-items {
    position: absolute;
    text-align: right;
    width: fit-content;
    height: fit-content;
    margin: auto;
    top: 3;
    right: 3;
}

.order-item {
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    border-left: 2px solid black;
    box-shadow: 0px 0px 2px 0px;
}

.cart-items {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    height: max-content;
    padding: 10px 0;
    line-height: 1.3em;
}

.buy-button {
    display: block;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}

