.item {
    border: 5px dotted black;
    box-sizing: border-box;
    width: 300px;
    height: 350px;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

main {
    display: flex;
    justify-content: flex-start;
    max-width: 80%;
    flex-wrap: wrap;
    height: max-content;
    padding: 10px 0;
    line-height: 1.5em;
}

.pagination {
    margin: auto;
}

.search-text {
    margin-bottom: 10px;
    margin-top: 10px;
}

.empty_list {
    font-size: larger;
}

.product-property {
    font-weight: bold;
    color: rgb(110, 50, 50);
}

.product-img {
    width: 200px;
    height: 200px;
}

.search-bar {
    position: absolute;
    top: 150px;
    right: 10;
    z-index:1;
    overflow-x: hidden;
    height: 140px;
    width: 20%;
    padding-left: 5px;
    border-left: 2px solid black;
    box-shadow: 0px 0px 2px 0px;
}

.sort-by {
    position: absolute;
    top: 310px;
    right: 10;
    z-index:1;
    overflow-x: hidden;
    height: 200px;
    width: 20%;
    padding-left: 5px;
    border-left: 2px solid black;
    box-shadow: 0px 0px 2px 0px;
}

.category-catalog h3 {
    margin-top: 7px;
    margin-bottom: 20px;
}

.category-catalog {
    position: absolute;
    top: 520px;
    right: 10;
    z-index:1;
    overflow-x: hidden;
    height: fit-content;
    width: 20%;
    padding-left: 5px;
    border-left: 2px solid black;
    box-shadow: 0px 0px 2px 0px;
    padding-top: 7px;
}

.sort-by-field {
    margin: auto;
}

.desc-asc-field {
    margin: auto;
}

label {
    display: block;
}

.product-category {
    text-decoration: none;
}

.product-name {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.starred {
    color: rgb(255, 227, 66);
    font-weight: 700;
}