.product-detail-properties {
    width: fit-content;
    font-size: large;
    padding-right: 5px;
    font-weight: 600;

}

.product-category {
    text-decoration: none;
}

.product-img {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.starred {
    color: rgb(255, 227, 66);
    font-weight: 700;
}

a {
    text-decoration: none;
}

.product-title {
    float: inline-start;
    width: 100%;
    height: 100px;
}

.product-name {
    float: left;
    width: 200px;

}

.add-to-cart {
    display: contents;

}

.add-to-cart-button {
    width: 200px;
    height: 50px;
    margin-top: 17px;
    margin-left: 10px;
}

.review-item {
    width: 400px;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 5;
    border-left: 2px solid black;
    box-shadow: 0px 0px 2px 0px;
}

.comment {
    margin: 10px;
}