{% extends 'pages\_base.html' %}

{% load static %}

{% block title %}Product Detail{% endblock title %}

{% block head_block %}
    <link rel='stylesheet' href="{% static 'products/css/product_detail.css' %}"
{% endblock head_block %}

{% block content %}
    <main>
        <h1> {{product.name}} </h1>
        <ul class='product-detail-properties'>
            <li> Price: {{product.price}} </li>
            <li>Categories:
                {% for category in product.categories.all %}
                    <a class='product-category' href="{% url 'category_products' category %}">
                        {{category}}
                    </a>,
                {% empty %}
                    None.
                {% endfor %}
            </li>
            {% if user.is_authenticated %}
                <li>
                    <span>
                        {% if product.pk in starred_products %}
                            Starred |
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Remove from favorites </a>
                        {% else %}
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Add to favorites </a>
                        {% endif %}
                    </span>
                    <br />
                </li>
            {% endif %}
        </ul>

        <img class='product-img' src="{% static 'products/images/new.jpg' %}" alt='new product' />
        <p> <a href="{% url 'add_item' product.pk %}">Add to Cart</a> </p>
        <div class='compare'>
            <h2> Compare</h2>
            <form action="{% url 'compare' product.pk %}" method='GET'>
                {{compare_form}}
                <button type='submit'>Compare</button>
            </form>
        </div>
        <div class='reviews'>
            <h2> Reviews </h2>
            {% if user.is_authenticated and user_not_posted_review %}
                <p> <a href="{% url 'add_review' product.pk %}"> Add review </a> </p>
            {% endif %}
            {% for review in reviews %}
                <p id='{{ review.pk }}'>
                    User: {{review.user}}| stars: {{review.stars}}
                    <br />
                    comment:{{review.comment}}
                    <br />
                    <a href="{% url 'delete_review' review.pk %}"> Delete </a>|
                    <a href="{% url 'edit_review' product.pk review.pk %}"> Edit </a>
                    <br />
                    <br />
                </p>
            {% empty %}
                <p> No reviews yet. </p>
            {% endfor %}
        </div>

    </main>
{% endblock content %}