{% extends 'pages\_base.html' %}

{% load static %}

{% block title %}Product Detail{% endblock title %}

{% block head_block %}
    <link rel='stylesheet' href="{% static 'products/css/product_detail.css' %}"
{% endblock head_block %}

{% block content %}
    <main>
        <h1> {{product.name}} </h1>
        <ul class='product-detail-properties'>
            <li> Price: {{product.price}} </li>
            <li> Category:
                <a class='product-category' href="{% url 'category_products' product.category %}"> 
                    {{product.category}}
                </a> 
            </li>
            {% if user.is_authenticated %}
                <li>
                    <span>
                        {% if product.pk in starred_products %}
                            Starred |
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Remove from favorites </a>
                        {% else %}
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Add to favorites </a>
                        {% endif %}
                    </span>
                    <br />
                </li>
            {% endif %}
        </ul>

        <img class='product-img' src="{% static 'products/images/new.jpg' %}" alt='new product' />
        <p> <a href="{% url 'add_item' product.pk %}">Add to Cart</a> </p>

    </main>
{% endblock content %}