{% extends 'pages/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load query_transform %}

{% block title %}Products List{% endblock title %}
{% block head_block %}
    <link rel='stylesheet' href="{% static 'products/css/product_list.css' %}" />
    
{% endblock head_block %}
{% block content %}
    <p>
        <a href="{% url 'home' %}">&larr; Go back </a>
    </p>
    <h1 class='main-title'>Products</h1>
    <main>
        {% for product in page_obj %}
            <div class='item'>
                <span class='product-property'> Name:</span> 
                <a class='product-name' href="{{product.get_absolute_url }}">
                {{product.name}}
                </a>
                <br />
                <span class='product-property'>Price:</span> {{product.price}}
                <br />
                <span class='product-property'>
                    Categories:
                    {% for category in product.categories.all %}
                        [<a class='product-category' href="{% url 'category_products' category %}">
                            {{category}}
                        </a>] 
                    {% empty %}
                        None.
                    {% endfor %}
                    
                </span> 
                <br />
                {% if user.is_authenticated %}
                    <span>
                        {% if product.pk in starred_products %}
                            <span class='starred'>Starred</span> |
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Remove from favorites </a>
                        {% else %}
                            <a href="{% url 'star_unstar' product.pk %}?next={{ request.path|urlencode }}">
                                Add to favorites </a>
                        {% endif %}
                    </span>
                    <br />
                {% endif %}
                <img class='product-img' src="{% static 'products/images/new.jpg' %}" alt='new product' /> 
            </div>
        
        {% empty %}
            <li class='empty-list'>No products yet.</li>
        {% endfor %}
        
    </main>

    <div class="pagination">
        <ul class="pagination">
            
            {% if page_obj.has_previous %}
                <li class='page-item'>
                    <a class="page-link" href="?{% query_transform  page=1 %}">&laquo; first</a>
                </li>
                <li class='page-item'>
                    <a class="page-link" href="?{% query_transform  page=page_obj.previous_page_number %}">
                        previous</a>
                </li>
            {% endif %}
            </li>
            <li class='page-item'>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </li>
            {% if page_obj.has_next %}
            <li class='page-item'>
                <a class="page-link" href="?{% query_transform  page=page_obj.next_page_number %}">next</a>
            </li>
            <li class='page-item'>
                <a class="page-link" href="?{% query_transform  page=page_obj.paginator.num_pages %}">
                    last &raquo;</a>
            </li>
            {% endif %}
        </span>
    </div>

    <aside class='search-bar'>
        {{search_form}}
    </aside>
    
    <aside class='sort-by'>
        {{sort_by_form}}
    </aside>
    <aside class='category-catalog'>
        <h3> Categories </h3>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'category_products' category.0 %}">{{category.0}}</a>
                    <span class="badge badge-primary badge-pill">{{category.1}}</span>
                </li>
            {% endfor %}
          </ul>
    </aside>
{% endblock content %}
