{% extends 'pages\_base.html' %}
{% load static %}

{% block title %}Products List{% endblock title %}
{% block head_block %}
    <link rel='stylesheet' href="{% static 'products/css/product_list.css' %}" />
{% endblock head_block %}
{% block content %}
    <h1 class='main-title'>Products</h1>
    <main>
        {% for starred_product in starred_product_list %}
            <div class='item'>
                <span class='product-property'> Name:</span> 
                <a class='product-name' href="{{starred_product.product.get_absolute_url }}">
                {{starred_product.product.name}}
                </a>
                <br />
                <span class='product-property'>Price:</span> {{starred_product.product.price}}
                <br />
                <span class='product-property'>
                    Category:
                    <a class='product-category' 
                    href="{% url 'category_products' starred_product.product.category %}">
                        {{starred_product.product.category}}
                    </a>
                </span> 
                <br />
                {% if user.is_authenticated %}
                    <span>
                        {% if starred_product in user.favorites.all %}
                            Starred |
                            <a href="{% url 'star_unstar' starred_product.product.pk %}?next={{ request.path|urlencode }}">
                                Remove from favorites </a>
                        {% else %}
                            <a href="{% url 'star_unstar' starred_product.product.pk %}?next={{ request.path|urlencode }}">
                                Add to favorites </a>
                        {% endif %}
                    </span>
                    <br />
                {% endif %}
            </div>
        
        {% empty %}
            <li class='empty-list'>No products yet.</li>
        {% endfor %}
{% endblock content %}
