header {
    background-color: rgb(207, 41, 32);
    width:100%;
    box-sizing: border-box;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: right;
}

.home {
    float: left;
}

header a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: gray;
}

.no-underline {
    text-decoration: none;
}

.block {
    display: block;
}

.middle {
    width: fit-content;
    top: 300px;
    position: fixed;
    left: 570px;
    display: block;
    padding: 2px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: lightgreen;
}

.shopping-cart-img {
    width: 1000px;
    height: 500px;
    display: block;
    position: fixed;
    top: 100px;
    left: 150px;
    z-index: -1;
}